/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1b1e23;
}

a {
    color: #1e88e5;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c3543;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.header-left h1 {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}

.header-right ul {
    display: flex;
    height: 100%;
    margin-left: 5%;
    text-align: right;
    justify-content: right;
    list-style: none;
    padding-right: 150px;
}

.header-right li:not(:last-child) {
    margin-right: 50px;
}

.header-right a.active {
    border-top: 3px solid #1e88e5;
    color: #1e88e5;
}

.header-right a {
    font-size: 24px;
    font-weight: 700;
    font-weight: bold;
    color: #ffffff;
}

.header-right a:hover {
    color: #1e88e5;
}

main {
    margin-top: 90px;
    padding-bottom: 60px;
}

.home button {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #1e88e5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home button:hover {
    background-color: #1e88e5;
}

/* BLOG */
.blog {
    padding: 40px 0;
}

.blog h2 {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 50px;
    display: inline-block;
    border-top: #ffffff 5px solid;
    padding-top: 10px;
}

.post-block {
    background-color: #2c3543;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    overflow: hidden;
}

.post-block:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.post-block h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    color: #e0e0e0;
}

.post-block p {
    /* margin-top: 0;
    margin-bottom: 0; */
    font-size: 16px;
    color: #e0e0e0;
}

.post-block {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #e0e0e0;
}

/* BLOG POST CONTENT */

/* .post-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
} */

.blog-post {
    color: #e0e0e0;
}

.post-date {
    font-size: 16px;
    font-weight: 400;
    color: #e0e0e0;
    margin-bottom: 50px;
}

/* .post-description {
    font-size: 18px;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 1.5;
    margin-bottom: 20px;
} */

.blog-post h2 {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    padding-top: 20px;
}

/* Floating arrow */
#back-to-top {
    position: fixed;
    top: 150px;
    left: 150px;
    width: 50px;
    height: 50px;
    background-color: #1e88e5;
    color: #fff;
    border-radius: 30%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
    display: block;
    z-index: 9999;
}

#back-to-top:hover {
    background-color: #286eab;
}

#back-to-top svg {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 14px;
    transform: rotate(90deg);
}

#back-to-top svg path {
    fill: #f2f2f2;
}

/* Footer styles */
footer {
    color: #fff;
    text-align: center;
    margin-top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
    height: 40px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin-bottom: 1rem;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 15px;
    }

    .header-left h1 {
        font-size: 20px;
    }

    .header-right ul {
        display: flex;
        height: 100%;
        margin-left: 5%;
        text-align: right;
        justify-content: right;
        list-style: none;
        padding-right: 0;
    }

    .header-right a {
        font-size: 20px;
    }

    .header-right li:not(:last-child) {
        margin-right: 15px;
    }

    #back-to-top-container {
        display: none;
    }
}